DOMAIN=
VAULT_ADDR=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
OIDC_NAME=MDICSME
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER=
OIDC_ADMIN_GROUP=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_HOST=
LOCAL_ADMIN_PASSWORD=
LOCAL_ADMIN_USER=
